@import "../../Actions/Buttons/ActionButtons";

@mixin flexBox($width, $margin) {
  width: $width;
  margin: $margin;
  padding: 12px 20px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.ink-form {
  display: flex;
  text-align: left;
  justify-content: center;
  .details {
    align-items: left;
    width: auto;
  }
  label {
    width: 140px;
    text-align: left;
  }
  input[type="text"],
  select {
    @include flexBox(50%, 10px 1);
  }
}
.ink-settings {
  input[type="text"],
  select {
    @include flexBox(auto, 10px 1);
  }
}
