a {
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
}

a:hover {
  cursor: pointer;
  background-color: #555;
}

a:active {
  background-color: black;
}

a:visited {
  background-color: #ccc;
}
.grid-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.2fr 1.8fr;
  grid-template-rows: 0.2fr 5fr;
  gap: 0px 0px;
  grid-template-areas:
    "Logo Back"
    "Sidebar Main";
}
.Back {
  grid-area: Back;
  background-color: #313131;
}
.Main {
  grid-area: Main;
  position: relative;
  color: white;
  height: auto;
  min-height: 100vh;
  text-align: center;
  background-color: #313131;
  background-image: url(~@volterainc/app-resources/images/grid.png);
  background-size: auto;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  margin: 0px;
  /*NOTE - Decrease from 150px or remove entirely if performance issues encontered */
}

h1 {
  /* width: 500px; */
  padding-top: 50px;
  margin: 0 auto;
  /* text-align: center; */
}

.Main .ActionButtons {
  position: relative;
  padding-top: 100px;
  margin: 0 auto;
}
.Main .Body {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
