a {
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  background-color: #555;
}

a:active {
  background-color: black;
}

a:visited {
  background-color: #ccc;
}
.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.3fr 2.5fr 1fr;
  gap: 0px 0px;
}
.Back {
  grid-area: 1 / 2 / 2 / 3;
}
.Main {
  grid-area: 2 / 2 / 5 / 5;
}
.Title {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Body {
  grid-area: 3 / 2 / 5 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  overflow: hidden;
  margin: 0px;
}
.button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
