a {
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
}

a:hover {
  cursor: pointer;
  background-color: #555;
}

a:active {
  background-color: black;
}

a:visited {
  background-color: #ccc;
}
.grid-container {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 145% 4.5%;
  gap: 0px 0px;
  grid-template-areas:
    "Back"
    "Main";
}
.Back {
  grid-area: Back;
  display: flex;
}
.Main {
  grid-area: 90% 90%;
  position: relative;
  color: white;
  height: 100%;
  width: 100%;
  background-color: #313131;
  background-image: url(~@volterainc/app-resources/images/grid.png);
  background-size: auto;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  margin: 0px;
  /*NOTE - Decrease from 150px or remove entirely if performance issues encontered */
  box-shadow: inset 0px 0px 150px rgba(0, 0, 0, 0.4);
}
.Title {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Body {
  grid-area: 3 / 2 / 5 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: hidden;
  margin: 0px;
}
.button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
