@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.app {
  animation: fadein 0.5s;
}
.body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #313131;
  background-image: url(~@volterainc/app-resources/images/grid.png);
  font-family: "Roboto", sans-serif;
  overflow: fixed;
  margin: 0px;
  /*NOTE - Decrease from 150px or remove entirely if performance issues encontered */
  box-shadow: inset 0px 0px 150px rgba(0, 0, 0, 0.4);
}
h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}
p {
  font-size: 16px;
}
.list-inks {
  display: flex;
  flex-direction: row;
}
.list-inks .ink-selection-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
}
.list-inks .ink-selection-list .type {
  font-size: 20px;
}
.list-inks .ink-selection-list .list {
  padding: 0px 10px;
  height: auto;
  max-height: 400px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out, max-height 0.6s ease-in-out;
}
.list-inks .ink-selection-list .list.expanded {
  overflow-y: auto;
  max-height: 500px;
  background-color: rgba(0, 0, 0, 0.3);
}
