.details {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.dispenserValue {
  display: flex;
  flex-direction: row;
  align-items: center;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="number"],
select {
  width: 30%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button :hover {
  background-color: #555555;
  color: white;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
